<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <img src="Sound Desk.jpg"alt="sound desk" width="200px" height="200px">
  <title>CAREER IN SOUND ENGINEERING </title>
</head>

<body>
  <h1><strong>CAREER IN SOUND ENGINEERING</strong></h1>
  <table cellspacing="10"  >




    <thead>
      <tr>

        <th> Date </th>
        <th> Work </th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td>April 2001 to 2005.</td>
        <td>Freelance Sound technician with P4 Outside Broadcasts.
            (The Radio station is now called Heart 104FM. )
        </td>
      </tr>
      <tr>
        <td>December 2002 to February 2003.</td>
        <td> Freelance Sound Editor  for   Sasani Studios.
             Mainly dealing with  Sync for Day to Day Rushes.
             (currently owned by   Waterfront Film Studios. )(No Longer there.)  </td>
         </tr>

      <tr>
        <td>June 2003 to November 2003.</td>
        <td>Radio Pulpit. Contracted to do programming, record VO. and do Live  Broadcasts .</td>
      </tr>
      <tr>
        <td>September 2003 Alie Barber.</td>
        <td>Sub contracted by the ‘Music Room’
            Multi cam production/ Fremantle Media
            13 episodes of Multi-Cam LAF.  Boom Swinger. </td>
          </tr>

      <tr>
        <td>October 2003 to November 2003.</td>
        <td>Joltyd  / Fremantle Media
            2nd Assistant to Sound Mixer
            Contracted through ‘Music Room’ </td>
          </tr>

      <tr>
        <td>Feb to June 2004.</td>
        <td>Sesame Street Seasons 2 and 3 (112 episodes)
             Contracted through Sasani Studios to work on Takalani
             Re-recording of M+E.
             Sound editing.
             Foley effects.
                             </td>
      </tr>
      <tr>
        <td> 08 to 20 of September 2004.</td>
        <td>Small Talk 2 / Fremantle Media / SABC 2 .
             On location with the children .
             Location  Sound Mixer.</td>
           </tr>

      <tr>
        <td>August to September 2005</td>
        <td>TV Film  Mini series  Gothia Caper, Sound Mixer : Chris Martin, Boom swinger: David Plew -Chisholm.</td>
      </tr>
      <tr>
        <td>Jan 2007 to end of June 2010.</td>
        <td>HIP2BE2 Science and Math’s.
            Commissioned By SABC2.
             Production Co : Octagon CSI for one season then taken over by  Clock Work Zoo
             Seasons 4,5,6 and 7 , 208 Episodes, live Broadcast Studio Sound Mixer </td>

      </tr>
      <tr>
        <td>October 2007 to 2022,2023</td>
        <td>Hectic 99 has had various places of facilitation
            Clock Work Zoo  and  Collective Dreams.
            2014 to 2022 moved to Magnatude Studios and Post ,now owned by TRACE, Commissioned By SABC2.
            Production Co  :  Okuhle Media ,Now Owned By TRACE Seasons 1 to 16 ,(Currently on Season 17 ) live Broadcast Studio Sound Mixer. </td>

          </tr>

            <tr>
              <td>April 30th 2018 to 2022.</td>
              <td>HECTIC ON 3 Commissioned By SABC3 Production Co : Okuhle Media (Now TRACE)Facilitation at present :TRACE
                 live Broadcast Studio Mixer (No Longer).</td>
               </tbody>
             </table>
</html>
